
.contenedorf {
    font-family: "Poppins", serif;
    background-color:  rgb(101, 113, 171);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input, 
.form-container select, 
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;


}

.form-container button {
    background-color: #121212;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.form-container button:hover {
    background-color: #d6d1d0;
    color: black;
}